body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  background-color: darkgray;
}

header {
  width: 98%;
  padding: 10px 1%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #000;
  background-color: rgba(255,255,255,.2);
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1000;
  background-color: lightgray;
}

.sticky-header a {
  text-decoration: none;
  color: #000;
}

.sticky-header a:hover {
  color: rgb(	75, 0, 130);
}

.sticky-header-visible {
  z-index: 100;
}

header a {
  color: mintcream;
  text-decoration: none;
}

header a:hover {
  color: darkgray;
}


.logo {
  font-size: 1.5em;
  margin: 0;
}

.menu {
  padding-top: 5px;
  font-size: 1.1em;
}

.menu a {
  padding: 10px;
}

.parallax-window {
  min-height: 100%;
  background-position: bottom;
  border-bottom: 2px solid #000;
}

.headline {
  width: 60%;
  margin: auto;
  color: mintcream;
}

/* Thank you http://codepen.io/diegopardo/pen/ohInj for cool .headline h1! */
.headline h1 {
  padding-top: 100px;
}

.headline h1, .headline h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 6em;
  text-align: center;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  letter-spacing: 0.1em;
  text-shadow:
    0 0 3px mintcream,
    -1px 0 0 rgb(238, 238, 238),
    0 -1px 0 rgb(238, 238, 238),
    -2px -2px 2px rgba(0,0,0,0.3),
    1px -2px 2px rgba(0,0,0,0.3),
    -2px 1px 2px rgba(0,0,0,0.3),
    1px 1px 4px rgba(0,0,0,0.5),
    2px 4px 6px rgba(0,0,0,0.4),
    4px 6px 12px rgba(0,0,0,0.1),
    6px 8px 12px rgba(0,0,0,0.1),
    8px 10px 18px rgba(0,0,0,0.2),
    10px 15px 25px rgba(0,0,0,0.2),
    10px 15px 35px rgba(0,0,0,0.2);
}

.headline h2 {
  font-size: 3em;
  margin-top: 25px;
  margin-bottom: 100px;
}

.container {
  width: 60%;
  margin: auto;
}

.top-social {
  padding-top: 30px;
  text-align: center;
}

.top-social a {
  color: #000;
  padding: 10px;
}

.top-social a:hover {
  color: red;
}

#about-me {
  margin: auto;
  margin-bottom: 50px;
  padding: 10px 0;
  vertical-align: middle;
  color: #000;
}

#about-me h1 {
  text-align: center;
}

#about-me a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

#about-me a:hover {
  color: rgb(	75, 0, 130);
}

.me {
  border-radius: 50%;
  border: 2px solid #000;
  height: 350px;
}

.profile-image {
  margin: 10px;
  float: right;
  border-radius: 50%;
  opacity: .9;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.bottom-skills {
  margin-bottom: 100px;
}

.skill svg {
  width: 100px;
  /*padding: 25px;*/
}

.skill h4 {
  margin-top: 5px;
  text-align: center;
}

a:hover {
  transition: color 0.3s ease;
}

.description a {
  color: rgb(	75, 0, 130);
}

.description a:hover {
  color: black;
}

#portfolio {
  padding: 50px 0;
  text-align: center;
}

#portfolio .row {
  display: flex;
  justify-content: center;
}

#portfolio img {
  border: 1px solid #000;
  margin: 10px;
  height: 180px;
}

#portfolio img:hover {
  box-shadow: 0 0 5px gray;
}

#portfolio h3 {
  color: #000;
  margin: 5px;
}

#portfolio h4 {
  margin: 5px;
}

#portfolio h5 {
  margin: 5px;
}

#skill-list {
  margin-top: 50px;
}

#skill-list h1 {
  text-align: center
}

footer {
  border-top: 2px solid #000;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding: 20px 0;
  color: #fff;
}

footer a {
  padding: 5px;
  color: whitesmoke;
}

footer a:hover {
  color: rgb(	75, 0, 130);
}

footer p {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0,128,128, 0.75), rgba(0, 0, 0, 0));
}
