html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

body {
  background: #010b13;
  font-family: 'News Cycle', sans-serif;
}

video#background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#info {
  margin-top: 150px;
}

h1, h2 {
  margin: 0;
}

h1 {
  color: #fff;
  font-size: 5em;
}

h2 {
  color: #3c8765;
  font-size: 3em;
}

#social {
  margin: 25px 0 100px 0;
}

#social a {
  color: #fff;
  margin: 0 5px;
  -webkit-transition: color .5s;
  transition: color .5s;
}

#social a:hover {
  color: #3c8765;
}
